.recommendation{
    border: 1px solid b;
    flex:0.8;
    padding: 10px 10px;
    background-color:#f9f9f9;
}  
.recommendation > h2
{
margin-left:5px;
margin-bottom:20px;
}
.recommendation__video{
    display:flex;
    flex-wrap:wrap;
}